* {
    box-sizing: border-box;
}



main{
display: flex;
width: 960px;
margin: auto;
flex-direction: column;
  align-items: center;
}

/* 게시글 목록 적혀있는 칸 */
.top {
width: 100%;
font-size: 35px;
font-weight: bold;
padding: 50px 0 20px 0;
}
.top > p:first-of-type {
	font-size: 2.4rem;
	font-weight: bold;
}

#head > p:last-of-type {
	font-size: 1.2rem;
}

.top > p:last-of-type {
	font-size: 1.2rem;
}
/* 전체 팔로잉 공지 버튼 있는 칸 */
.top-2 {
width: 100%;
font-weight: bold;
/* margin: auto; */
margin-top: 30px;
border-bottom: 1px solid #ddd;
padding: 10px 0;
}


/* 전체 버튼 */
#all  {
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  background-color: rgba( 255, 255, 255, 0 );
}

#all a {
  font-size: 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 25px;
  background-color: rgba( 255, 255, 255, 0 );
}


#all a:hover {
cursor: pointer;
font-weight: bold;
color:rgb(0, 220, 244);
background-color: rgba( 255, 255, 255, 0 );
font-size: 24px;
}


.right{
float: right;
display: block;

}
/* 인기순 버튼 */
#top {
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  background-color:rgba( 255, 255, 255, 0 );
}

#top a:hover {
border: none;
cursor: pointer;
font-size: 24px;
font-weight: bold;
margin-top: 25px;
color:rgb(0, 220, 244);
background-color: rgba( 255, 255, 255, 0 );
}

.right a {
text-decoration: none;
}


/* 최신순 버튼 */
#new {
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  background-color: rgba( 255, 255, 255, 0 );
}

#new > a:hover {
border: none;
cursor: pointer;
font-weight: bold;
font-size: 24px;
margin-top: 25px;
color:rgb(0, 220, 244);
background-color: rgba( 255, 255, 255, 0 );
}



/* 팔로잉 버튼 */
#Following {
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  background-color: rgba( 255, 255, 255, 0 );
}

#Following:hover {
border: none;
cursor: pointer;
font-size: 24px;
font-weight: bold;
margin-top: 25px;
color:rgb(0, 220, 244);
background-color: rgba( 255, 255, 255, 0 );
}


.fir a {
text-decoration: none;
}

.img{
  display: flex;
  padding: 0;
  height: 200px;
}


.img img {
width: 230px; 
height: 230px;


}

.titleContent {
  padding: 15px;
  margin: 8px 0;
  width: 390px;
  height: 180px;
}


.nameDateCount{
  width: 300px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: right;
  margin: 20px;
}


/* 첫번째 게시물 사진 */
.fir img{
  border-radius: 10px;
  margin-top: -7px;
  height: 210px;
}




.fir{
  display: flex;
margin-left: 20px;
border-radius: 30px;
border-bottom: 3px solid #ddd;
width: 960px;
height: 210px;
border: 2px solid #ddd;
margin: 10px 0;
padding-right: 10px;
flex-direction: column;
justify-content: space-between;
overflow: hidden;



}

.fir:hover{
border: 2px solid rgb(0, 220, 244);
transition: all 0.9s ease;
}

.fir > div:nth-child(1){
display: flex;
flex-basis: 80%;
font-size: 20px;
}

.left{
display: block;
flex-direction: row;


}

 .left > div{
margin-top: 10px;
margin-bottom: 10px;
} 

.left >div:nth-child(1){
font-size: 20px;
font-weight: bold;

}

.board{
  height: 40px;
  width: 600px;
}


.boardContent{
overflow: hidden;  		
text-overflow: ellipsis;  	
display: flex;
padding: 7px 0;

}


.thr{
border-bottom: 3px solid #ddd;
}

.thr > span{
margin-right: 40px;
}

main > section:nth-child(6){
display: flex;
flex-basis: 5%;
}

.number{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
justify-content: space-between;

}

#all{
margin-left: 20px;
font-size: 20px;

}

.number > span{
margin-right: 10px;
}

.number button{
cursor: pointer;
}

/* 삭제 버튼 */
#delete button{
background-color:rgb(0, 220, 244);
color: white;
font-weight: bold;
font-size: 15px;
width: 80px;
height: 40px;
border: 0;
border-radius: 10px;
}

#delete button:hover {
background-color: white;
border: 2px solid rgb(0, 220, 244);
color: rgb(0, 220, 244);
}



/* 페이지네이션(Pagination) */
.pagination {
padding: 0;
list-style : none;

display: flex;
justify-content: center;

}

.pagination > li {
width: 20px;
margin: 0 5px;
text-align: center;
}

.pagination a {
width: 100%;
height: 100%;
display: block;
/*  letter-spacing: -2px; */
}


/* 현재 페이지 번호 */
.pagination .current{
background-color:rgb(0, 220, 244);
color: white;
font-weight: bold;
border-radius: 50%;
}



.btn-area{
width: 960px;
display: flex;
justify-content: right;
padding: 20px 0;
}

#insertBtn {
background-color:rgb(0, 220, 244);
color: white;
font-weight: bold;
font-size: 15px;
width: 80px;
height: 40px;
border: 0;
border-radius: 10px;
cursor: pointer;
}

#insertBtn:hover {
background-color: rgba( 255, 255, 255, 0 );
border: 2px solid rgb(0, 220, 244);
color: rgb(0, 220, 244);
}

.pagination a {
text-decoration: none;
}

.memberName{
  font-size: 13px;
  
}

.board h3{
  font-size: 28px;
  margin-top: -12px;
}

.boardContent{
  font-size:13px; 
  height: 80px;
    width: 650px;
}



.read{
  display: block;
  padding: 1px 11px;
}

#likeResult{
  padding: 1px 1px;
}

.boardDate {
  display: block;
  padding: 2px 4px;
}

/* 좋아요버튼 관련css */
#likeBtn {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba( 255, 255, 255, 0 );
  cursor: pointer;
  border: none;

}

/* 좋아요 버튼 이미지 */
#likeBtn img {
  width: 30px;
  height: 38px;
  margin-top: -6px;
  filter: invert(15%) sepia(93%) saturate(7473%) hue-rotate(0deg) brightness(109%) contrast(111%);
}
/* 좋아요 수 */
.share > span{
    font-size: 20px;
    padding: 5px;
    color: red;
}