main {
	display: flex;
	flex-direction: column;
    align-items: center;
}

#head {
	width: 1024px;
	margin: 50px 0 20px 0;
}

p, span, pre, h1, h2, h3, h4, h5, h6 {
	color: var(--text-color-1);
}

#head > p:first-of-type {
	color: var(--text-color-1);
	font-size: 2.4rem;
	font-weight: bold;
}

#head > p:last-of-type {
	color: var(--text-color-1);
	font-size: 1.2rem;
}

#cocktail-detail {
	display: flex;
	width: 1024px;
	justify-content: center;
	align-items: center;
	background-color: red;
}

#cocktail-image {
	width: 500px;
	height: 500px;
	border-radius: 30px;
	margin: 12px;
	background-color: black;
	overflow: hidden;
}

#cocktail-image > img {
	content: url("https://i.namu.wiki/i/PhrxqNiocrBKa1R7HTUPnbqnYzl4MYQ-zCD-0jLPqmGU8b-Ww2b4qOFOgPcY1GyIG5TS02n7H-mvkYJFSpyBC9VcaakXKiHanWN3s3coc_Vge99Et2MbosXpa0ZlAP_RylxksewF7ZwLLeLUo97vmQ.webp");;
	height: 80%;
}

#cocktail-info {
	width: 512px;
	height: 512px;
}

#cocktail-recipe > div {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	font-weight: bold;
}

#cocktail-recipe > div > img {
	width: 40px;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

#cocktail-description {
	display: flex;
	width: 1024px;
	justify-content: center;
	align-items: center;
}