/* 칵테일추천 배너 */
.banner{
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(0deg, rgb(236, 29, 236), rgb(0, 220, 244));
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(145, 90, 233); */
    
}
/* 배너 사진 */
.banner > img{
    height: 15vh;
    margin-right: 50px;
}
/* 배너 문구 */
.banner > p{
    font-size: 100px;
    margin-left: 50px;
    margin-right: 70px;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
}


main{
    display: flex;
    width: 1024px;
    height: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(245, 245, 220);
    

    background-image: url("../images/배경보라.gif");
    background-size: cover;

    /* background-repeat: round; */

}



.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

/* 술자리 사진 */
.text > img{
    height: 250px;
    width: 450px;
    border-radius: 10px;
    margin-left: 70px;
}
/* 문구 */
.text > pre{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 50px;
}

/* 버튼 */

#btn{
    width: 450px;
    height: 60px;
    margin-left: 65px;
    border-radius: 10px;
    background-color: rgb(163, 135, 197);
    font-size: 23px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.text > button:hover{
    border: 5px solid rgb(61, 166, 214); ;
}

/* 화면 가리기 */
.q1, .q1-2, .q1-3, .q2-2, .q2-3, .q3-2, .q3-3, .loading-page, .result1, .result2, .result3, .result4
, .result5, .result6, .result7, .result8, .result9, .result10, .result11, .result12, .result13, .result14, .result15, .result16, .result17, .result18{
    display: none;
}





/* 돌아가기 버튼 */
.back{
    width: 45px;
    height: 35px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: orange;
    cursor: pointer;
    
}
/* 돌아가기 버튼 */
.back-re{
    width: 45px;
    height: 35px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: orange;
    cursor: pointer;
}
/* 3번째 돌아가기 버튼 */
.back-3{
    width: 45px;
    height: 35px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: orange;
    cursor: pointer;
}

/* 2번째질문 돌아가기 버튼 */
.back-beer{
    width: 45px;
    height: 35px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: orange;
    cursor: pointer;
}

.range{
    margin: 5px 0 10px 20px;
}



/* 슬라이드바 css */
input[type=range] { 
    -webkit-appearance: none; /*기본 스타일을 사용할지 말지 정하기 */
    background: orange; /*바 선색, transparent 로 설정하면 배경생이랑 동일해진다. == 투명 */ 
    border-radius: 10px;
    width: 400px;
  }

  /* 넘어가는 숫자 */
  .num{
    font-weight: bold;
    font-size: 20px;
  }

  .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn{
    display: flex;
    align-items: center;
    margin-left: 135px;
    width: 555px;
    color: black;
  }


  
 



.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 질문번호 */
.question{
    font-weight: bold;
}

.choice{
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

/* 선택지 버튼 */
.choice button{
    padding: 30px;
    border-radius: 50%;
    height: 180px;
    width: 200px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(148, 209, 216);
    border: 0;
    cursor: pointer;
}

.choice button:hover{
    background-color: white;
    color: darkgray;
}

/* 질문번호, 질문 margin */
.content > div{
    margin-top: 40px;
    
}



/* 질문 번호 */
.content > div:nth-child(1){
    display: flex;
    flex-basis: 20%;
    font-size: 25px;
}
/* 질문 */
.content > div:nth-child(2){
    display: flex;
    flex-basis: 20%;
    font-size: 25px;
    font-weight: normal;
    
}



/* 로딩창 */
.loading-page{
    text-align: center  ;
    font-size: 30px;
    font-weight: 500;
}

/* 결과 분석중.. */
#loading-word{
    margin: 60px 0;
}

/* 로딩 애니메이션 */
.loading{
    margin-bottom: 100px;
}

/* 로딩 애니메이션 */
.loading span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: loading 1s linear infinite;
  }

  /* keyframes는 애니메이션의 구간, loading은 keyframes각 적용될 애니메이션의 이름 */
  /* 스테이지 구간 : 0~100% 구간으로 나누어서 각 스테이지마다 css 적용 */
  @keyframes loading {
    0%,
    100% {
      opacity: 0; /* 투명도 0 */
      transform: scale(0.5); /* 가로와 세로 무도 0.5배 확대 */
    }
    50% {
      opacity: 1; /* 투명도 1 */
      transform: scale(1.2); /* 가로와 세로 무도 1.2배 확대 */
    }
  }

  .loading span:nth-child(1) {
    animation-delay: 0s;
    background-color: crimson;
  }
  .loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: yellow;
  }
  .loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: orange;
  }



/* 칵테일 화면 */
.cocktail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 570px;
    width: 500px;
    border-radius: 10px;
}

/* 칵테일 설명 문구 */
.cocktail > div:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px 0;
}

/* 칵테일 결과 사진 */
.cocktail img{
    border-radius: 10px;
    width: 300px; 
    height: 330px;

}
.cocktail > div:nth-child(3){
    font-size: 17px;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-top: 1px solid #c3c2c2;
}

/* 다시하기 버튼 */
.reset button{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: orange;
    border-color: orange;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}



.content{
    color: rgb(70, 69, 69);
}

.reset{
    display: flex;
    justify-content: center;
}