* {
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
    width: 100vw;
    height: 100%;
}

.secon-container{
    width: 1300px;
    height: 100%;
    margin: auto;
}

#banner{
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

/* 배너랑 컬럼 사이 검색창 */
#searchArea{
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 검색 목록 선택 */
#SearchOption{
    height: 30px;
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
}
/* 검색 input 설정 */
#search{
    height: 30px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
}
/* 검색 버튼 */
#searchBtn{
    height: 30px;
    width: 50px;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* 칵쓸신잡 배너 사진 */
#bannerPic{
    width: 80px;
    height: 80px;
}
/* 칵쓸신잡 배너 글*/
#banner1{
    margin: 0;
    font-size: 30px;
}
#banner2{
    margin: 0;
    font-size: 25px;
}

.list{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 30px;
}
.list-content{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list ul li{
    display: inline-block;
    width: 28%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 40px 20px 20px 20px;
}
#picture{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 260px;
}
.title{
    margin-left: 10px;
}
h3{
    margin: 0;
}
a{
    text-decoration: none;
}

ul ul{
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
li{
    border: 1px solid silver;
    border-radius: 20px;
}
ul{
    padding: 0px;
}

.pagination{
    padding:0;
    list-style: none;

    display: flex;
    justify-content: center;
    text-align: center;
}
.pagination > li{
    width: 50px;
    text-align: center;
    justify-content: center;
    border: 0px;
}
.pagination a{
    width: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;
    border: 0px;
    display: flex;
    justify-content: center;
}



/* 페이지 넘기기 */
.select{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 페이지 넘기는 버튼 영역 */
.select > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 0px;
}

/* 버튼 속성 */
#pageCon1{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}
#pageCon2{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
}

#pageCon1:hover{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
}
#pageCon2:hover{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
}
/* 화살표는 focus 할 필요 없음 */
#pageCon2:focus{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
}


/* 관리자 글쓰기 버튼 */
#insertBtn {
    background-color:rgb(0, 220, 244);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    height: 40px;
    margin-left : 60px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #insertBtn:hover {
    background-color: white;
    border: 2px solid rgb(0, 220, 244);
    color: rgb(0, 220, 244);
  }
  
  

/* 페이지네이션(Pagination) */
.pagination {
    padding: 0;
    list-style : none;
  
    display: flex;
    justify-content: center;
  
  }
  
  .pagination > li {
    width: 20px;
    margin: 0 5px;
    text-align: center;
  }
  
  .pagination a {
    width: 100%;
    height: 100%;
    display: block;
   /*  letter-spacing: -2px; */
  }
  
  /* 현재 페이지 번호 */
.pagination .current{
    background-color:rgb(0, 220, 244);
    color: white;
    font-weight: bold;
    border-radius: 50%;
  }
  