#page-divider {
	width: 960px;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

main {
	display: flex;
	flex-direction: column;
    align-items: center;
}

#banner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    background-image: linear-gradient(135deg, rgb(0, 220, 244), violet);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner > p {
    font-family: 'Playfair Display';
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
}

#banner > p::selection {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px rgb(0, 220, 244);
}

#search {
	display: flex;
	margin: 70px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#search img {
	width: 80px;
	margin-bottom: 10px;
	filter: invert(0.7);
	cursor: pointer;
} html.dark #search img {
	filter: invert(0.5);
}

#search input {
	width: 500px;
	height: 50px;
	border-radius: 50px;
	margin-top: 10px;
	border: 8px solid rgb(180, 180, 180);
	outline: none;
	background-color: transparent;
	font-size: 1.2rem;
	text-align: center;
} html.dark #search input {
	border: 10px solid rgb(120, 120, 120);
}

#search-button {
	display: none;
}

#ad {
	display: flex;
	width: 960px;
	height: 80px;
	border-radius: 20px;
	margin-bottom: 50px;
	background-image: linear-gradient(135deg, rgb(0, 220, 244), violet);
	color: white;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
}

#populars {
	margin: 50px 0;	
}

#populars > p:first-of-type {
	font-size: 1.8rem;
    font-weight: bold;
}

#populars > p:last-of-type {
	font-size: 1.2rem;
	color: rgb(180, 180, 180)
}

.contents {
	display: flex;
	box-sizing: border-box;
	width: 960px;
	padding: 0;
	justify-content: space-between;
}

.contents > li {
	list-style: none;
	width: 225px;
	height: 280px;
	border-radius: 10px;
	box-shadow: inset 0 0 30px rgba(120, 120, 120, 0.3);
	cursor: pointer;
	transition-duration: 0.5s;
}

.contents > li:hover {
	box-shadow: inset 0 0 30px rgba(0, 220, 244, 0.3);
}