@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@media (prefers-color-scheme: light) {
    .themes-main-1 { background-color: white; }
    .themes-main-2 { background-color: white; }
    .themes-content-1 { color: rgb(60, 60, 60); }
}

@media (prefers-color-scheme: dark) {
    .themes-main-1 { background-color: rgb(30, 30, 30); }
    .themes-main-2 { background-color: rgb(40, 40, 40); }
    .themes-content-1 { color: white; }
}

* {
    font-family: "Segoe UI";
    color: rgb(60, 60, 60);
}

::-webkit-scrollbar { display: none; }

body, p {
    margin: 0;
}

div {
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 146px);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin-bottom: 45px;
    transition-duration: 0.5s;
}

#title {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#title > img {
    height: 75%;
    padding: 2px;
    border: 2px solid rgb(0, 220, 244);
    border-radius: 50%;
}

#title > p {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 2.5rem;
    letter-spacing: 1.6px;
    color: rgb(0, 220, 244);
}

#login-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1px);
}

#login {
    display: none;
}

#login:checked {

}

#account {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
}

#account > label {
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account > label > img {
    height: 40%;
    filter: saturate(0);
    cursor: pointer;
}

#account > label > p {
    font-weight: bold;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

nav {
    display: flex;
    position: fixed;
    top: 101px;
    width: 100vw;
    border-bottom: 1px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

nav > a {
    display: flex;
    height: 40px;
    margin: 0 35px;
    border: 2px solid transparent;
    align-items: center;
    font-size: 1rem;
    text-decoration-line: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    border-bottom: 2px solid rgb(0, 220, 244);
    color: rgb(0, 220, 244);
    cursor: pointer;
}

footer {
    display: flex;
    height: 140px;
    border-top: 1px solid rgb(180, 180, 180);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

#footerTop {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
}

#footerTop > a {
    margin: 0 20px;
    cursor: pointer;
}

#footerTop > a:hover {
    text-decoration-line: underline;
}

#footerBottom {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}