@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@media (prefers-color-scheme: light) {
    .themes-main-1 { background-color: rgb(255, 255, 255); }
    .themes-main-2 { background-color: rgb(255, 255, 255); }
    .themes-content-1 { color: rgb(60, 60, 60); }
    body { background-color: rgb(255, 255, 255); }
    header { background-color: rgba(255, 255, 255, 0.9); }
    nav { background-color: rgba(255, 255, 255, 0.9); }
}

@media (prefers-color-scheme: dark) {
    .themes-main-1 { background-color: rgb(30, 30, 30); }
    .themes-main-2 { background-color: rgb(40, 40, 40); }
    .themes-content-1 { color: white; }
    body { background-color: rgb(30, 30, 30); }
    header { background-color: rgba(40, 40, 40, 0.9); }
    nav { background-color: rgba(40, 40, 40, 0.9); }
}

* {
    font-family: "Segoe UI";
    color: rgb(60, 60, 60);
}

::-webkit-scrollbar { display: none; }

body, p {
    margin: 0;
}

div {
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 166px);
}

#divider {
	width: 100vw;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

#full-divider {
	width: 100%;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

#half-divider {
	width: 50%;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

#fixed-divider {
	width: 1024px;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

#variable-divider {
	width: calc(100vw - 100px);
	max-width: 1024px;
	height: 1px;
	background-color: rgb(180, 180, 180);
}

header {
    position: sticky;
    top: 0;
    height: 120px;
    border-bottom: 0.5px solid rgb(180, 180, 180);
    transition-duration: 1s;
  	backdrop-filter: blur(10px);
  	-webkit-backdrop-filter: blur(10px);
}

#title {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#title a {
    text-decoration-line: none;
}

#title img {
    height: 72px;
    border: 1px solid rgb(0, 220, 244);
    border-radius: 50%;
    margin-right: 10px;
}

#title p {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 2.5rem;
    letter-spacing: 1.6px;
    color: rgb(0, 220, 244);
}

#login {
    display: none;
}

#login:checked + label > img {
    filter: saturate(1) opacity(1)
}

#account {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100px;
}

#account > label {
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account > label > img {
    position: relative;
    z-index: 5;
    height: 50px;
    margin-bottom: 2px;
    filter: saturate(0) opacity(0.6);
    cursor: pointer;
    transition-duration: 1s;
}

#account > label > p {
	margin-top: 2px;
    font-weight: bold;
    color: rgba(150, 150, 150, 0.8);
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 1s;
}

nav {
    display: flex;
    width: 100vw;
    border-bottom: 0.5px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

nav > a {
    display: flex;
    height: 40px;
    margin: 0 35px;
    border: 2px solid transparent;
    align-items: center;
    font-size: 1rem;
    text-decoration-line: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    border-bottom: 2px solid rgb(0, 220, 244);
    color: rgb(0, 220, 244);
    cursor: pointer;
}

footer {
    display: flex;
    height: 140px;
    border-top: 0.5px solid rgb(180, 180, 180);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

#footerTop {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
}

#footerTop > a {
    margin: 0 20px;
    cursor: pointer;
}

#footerTop > a:hover {
    text-decoration-line: underline;
}

#footerBottom {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

#theme-switch {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#theme-switch > img {
	width: 50px;
	content: url("../images/moon.png");
}

#overlay {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition-duration: 1s;
}

#account-modal {
    position: fixed;
    margin: auto;
    opacity: 0;
    pointer-events: none;
}