/* *{ border: 1px solid black;} */
body{
    width: 100%;
    height: 100%;
    
}
#main{
    display: flex;
    width: 1300px;
    height: 1000px;
    margin: auto;
    padding-top:50px; 
    /* border: 1px solid salmon; */
}


/* 왼쪽사이드 */
.left-side{
    width: 20%;
    border-right: 2px solid #ddd;
}
.list-group{
    width: 100%;
    padding: 0 20px 0 0;
}
.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
}
.left-side > p{
    
    color: rgb(0, 220, 244);
    font-size: 20px;
    width: 200px;
    font-weight: bold;
}
.list-group> li > a{
    text-decoration: none;
    color: black;
    height: 100%;
    border-bottom: 2px solid #ddd;

    display: flex;
    
    justify-content: center;
    align-items: center;
}
.list-group> li :hover{
    background-color: #f2f2f2;
}

/* 회원정보 수정 글 */
h3{
    color: rgb(0, 220, 244);
    font-size: 25px;
    display: block;
    margin-bottom: 0;
}
article > p{
    margin-bottom: 20px;
}

/* 정보입력 영역 */
fieldset{
    border: 3px solid #ddd;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myInfo-area{
    width: 100%;
    height: 1000px;
    
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;

}

table{
    /* border: 1px solid pink; */
    
    width: 800px; 
}

.right{
    text-align: right;
    color: rgb(0, 220, 244);
    font-weight: bold;
}
/* 표 크기 */
tr:nth-child(1){height: 50px;}
tr:nth-child(2){height: 50px;}
tr:nth-child(3){height: 100px;}
tr:nth-child(4){height: 100px;}
tr:nth-child(5){height: 100px;}
tr:nth-child(6){height: 100px;}
tr:nth-child(7){height: 150px;}

tr td:nth-child(2) {
    width: 10px;
}

/* 첫번째 열 */
tr td:nth-child(1){
    background-color: #eee;
    width: 150px;
    font-size: 18px ;
    font-weight: bold;

    text-align: center;
    
}
tr td{
    font-size: 14px;
}
/* ***********************입력창 관련************************** */
input{
    height: 35px;
    font-size: 18px;
    font-weight: bold;

    border-radius: 30px;
    border: 2px solid #ddd;
    outline: none;

}
input:focus{
    border: 2px solid rgb(0, 220, 244);
    
}



/* 주소 입력창 크기 지정 */
table tr td input[name=memberaddress] {
	width: calc(100% - 14px);
	/* {속성값 !important } 우선순위 지정 */
}

input[type=password]{
    width: 360px;
}
input[type=text]{
    width: 360px;
}

#sample6_postcode{
    width: 200px;
}

/* *****************버튼 관련 css************************ */

.btn-area{
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around
} 

/* 중복검사, 우편번호 찾기 css */
#btn-id, #postBtn{
    font-size: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 0 10px;
    cursor: pointer;
}

/* 회원정보수정완료 버튼 css */
#info-update-btn,#changePw-btn{
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size:  18px;
    font-weight: bold;

    background-color: rgb(0, 220, 244);
    color:  white;
    border: none;
    border-radius: 25px;

    margin: 10px 20px;
}
#info-update-btn:hover,#changePw-btn:hover{

    color: rgb(0, 220, 244);
    background-color: white;
    border: 2px solid rgb(0, 220, 244);
}

/*  회원정보 수정 취소 css */
#resetBtn{
    cursor: pointer;
    width: 150px;
    height: 50px;

    font-size:  18px;
    font-weight: bold;

    color: rgb(0, 220, 244);
    background-color: white;
    border: 2px solid rgb(0, 220, 244);
    border-radius: 5%;

    margin: 10px 20px;
}

#resetBtn:hover{

    background-color: rgb(0, 220, 244);
    color:  white;
    border: none;
    
}

input {
    padding-left: 15px ;
    margin: 5px 0;
}

/* 파란글씨 정렬 */
article{
    display: flex;
    justify-content: left;
    width: 800px;
    flex-direction: column;
}