main {
	display: flex;
	flex-direction: column;
    align-items: center;
}

#head {
	width: 960px;
	padding: 50px 0 20px 0;
	border-bottom: 0.5px solid rgb(180, 180, 180);
}

#head > p:first-of-type {
	font-size: 2.4rem;
	font-weight: bold;
}

#head > p:last-of-type {
	font-size: 1.2rem;
}

#search {
	display: flex;
	width: 960px;
	padding: 10px 0;
	border-bottom: solid 0.5px rgb(180, 180, 180);
	align-items: center;
}

#search > img {
	width: 50px;
	filter: saturate(0) invert(0);
	cursor: pointer;
} html.dark #search > img {
	filter: saturate(0) invert(0.5);
}

#search > input {
	width: 500px;
	background-color: transparent;
	font-size: 1.4rem;
	outline: none;
}

#place-content {
	padding: 0;
}

#place-content > li {
	display: flex;
	width: 900px;
	height: 100px;
	padding: 30px;
	margin: 25px 0;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	list-style: none;
	flex-direction: column;
	justify-content: center;
	transition-duration: 1s;
} html.dark #place-content > li {
	background-color: rgba(255, 255, 255, 0.1);
}

.title {

}

.category {

}

.marker {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.marker-image {
	height: 30px;
	transition-duration: 0.5s;
}

.marker-info {
	position: relative;
	z-index: 10;
	padding: 2px 5px;
	border-radius: 5px;
	margin-top: 5px;
	background-color: rgba(0, 220, 244, 0.9);
	opacity: 0;
	transition-duration: 0.5s;
	font-weight: bold;
}

.marker-image:hover + .marker-info {
	opacity: 1;
}