@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

*{box-sizing: border-box;}
/* div{ border: 1px solid black} */




.searchId1{
    width: 60%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;

    margin-top: 15px;

}

form[name="searchId-form"]{

    width: 80%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#inputName{
    width: 300px;
    height: 40px;
    margin: 10px;
}
#inputTel{
    width: 300px;
    height: 40px;
    margin: 10px;
}



#btn{
    width: 150px;
    height: 40px;
    background-color: rgb(158, 235, 240);
    color: white;
    cursor: pointer;
}


.searchId2{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px;

    border-top: 1px solid gray;
}
.searchId2 > #btn{
    
    margin: 0 10px;
}

/* 아이디 찾기 결과 css */
.searchId-div{
    width: 60%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;

    margin-top: 15px;

}



